In [8]:
import pandas as pd
import os

In [11]:
df_data = pd.read_csv('data/data.csv')
df_blp = pd.read_csv('data/BLP.csv')

def format_name_blp(name):
    if pd.isna(name) or ',' not in name:
        return name
    last, first = [part.strip() for part in name.split(',', 1)]
    return f"{first} {last}"

df_data['Name'] = df_data['Name'].str.strip()
df_blp['Name'] = df_blp['Name'].apply(format_name_blp).str.strip()

merged_df = pd.merge(df_data, df_blp, on='Name', how='inner')
merged_df.to_csv('data/merged.csv', index=False)

merged_df

,Name,Early Closure #1 (ES),Early Closure #2 (ES),Early Closure #3 (ES),Early Closure #4 (ES),Early Closure #5 (ES),Early Closure #1 (ING),Early Closure #2 (ING),Early Closure #3 (ING),Early Closure #4 (ING),...,Unnamed: 7,III. Use (weight=1.09),Unnamed: 9,IV. Proficiency (weight=2.27),Unnamed: 11,V. Attitudes (weight= 2.27),Unnamed: 13,English,Spanish,Dominance
0,Amy Salmeron,0,0,0,0,0,0,1,0,0,...,39.498,28.34,22.89,49.94,47.67,54.48,47.67,161.816,157.728,4.088
1,Martin Vargas,1,1,1,1,0,0,1,1,0,...,28.602,40.33,14.17,54.48,47.67,36.32,54.48,168.812,144.922,23.890
2,Diane Duque,0,1,0,0,1,0,1,0,0,...,27.240,51.23,3.27,54.48,45.40,54.48,54.48,205.136,130.390,74.746
3,Nadir Martinez,0,0,0,0,0,1,1,1,0,...,47.216,5.45,47.96,52.21,54.48,29.51,54.48,108.508,204.136,-95.628
4,Brianna Mares,0,0,0,0,0,0,1,0,0,...,28.148,45.78,9.81,54.48,38.59,54.48,47.67,195.146,124.218,70.928
5,Jose Contreras,1,0,1,1,1,0,0,1,1,...,28.148,54.50,13.08,54.48,47.67,54.48,54.48,204.320,143.378,60.942
6,Tray Soto,1,0,1,1,1,0,1,1,0,...,29.056,47.96,6.54,54.48,47.67,54.48,47.67,200.958,130.936,70.022
7,Aizza Villegas,1,1,0,1,1,0,0,1,0,...,36.774,33.79,20.71,45.40,52.21,45.40,52.21,140.480,161.904,-21.424
8,Gerardo Botello,0,1,0,0,0,0,1,1,0,...,30.418,41.42,13.08,52.21,36.32,29.51,49.94,147.656,129.758,17.898
9,Pili Saravia,0,0,0,0,0,0,1,0,0,...,29.964,39.24,15.26,52.21,40.86,49.94,54.48,171.354,140.564,30.790
10,Erika Muralles,0,1,1,1,0,0,1,1,0,...,39.498,40.33,14.17,49.94,49.94,45.40,52.21,161.094,155.818,5.276
11,Christopher Rosales,0,0,0,1,1,0,0,0,0,...,32.688,43.60,10.90,54.48,47.67,34.05,47.67,178.892,138.928,39.964
12,Mia Rodriguez,1,0,0,0,0,1,0,0,0,...,31.780,44.69,9.81,49.94,24.97,49.94,49.94,184.068,116.500,67.568
13,Natalie Gamboa,1,0,0,0,0,0,0,0,0,...,36.774,38.15,16.35,47.67,45.40,29.51,54.48,140.300,153.004,-12.704
14,Daniela Oseguera,0,0,0,0,0,0,0,0,0,...,37.228,18.53,35.97,54.48,52.21,40.86,54.48,146.104,179.888,-33.784

In [ ]:
merged_df.insert(0, 'AnonID', [f"({i+1})" for i in range(len(merged_df))])
merged_df.drop(columns=['Name'], inplace=True)

os.makedirs('anonimized_data', exist_ok=True)
merged_df.to_csv('anonimized_data/merged_anon.csv', index=False)
print("Anonymized file saved to anonimized_data/merged_anon.csv")

Anonymized file saved to anonimized_data/merged_anon.csv